body {
    background: url("bg.png");
}

.central-textarea {
    border: 1px;
    border-style: ridge;
    border-color: dodgerblue;
    margin: 100px 100px 100px 100px;
    padding: 2px;
}

.form-area {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 2px 2px 2px;
}

.fancy-button {
    color: lightskyblue;
    background-color: steelblue;
    font-size: 40px;
    border-radius: 6px;
    border-style: ridge;
    cursor: pointer;
}

h1 {
    text-align: center;
}
