<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple File Uploader</title>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='rupload.css') }} "/>
</head>
<body>
<br/>
<br/>
<br/>


<form class="form-area" action="myfile" method="post">
    <div class="central-textarea">
        <input type="file" value="Browse" name="myfile">
    </div>

    <div class="central-textarea">
        <input type="submit" value="Submit" class="fancy-button">
    </div>
</form>


</body>
</html>
